{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static '/css/auth.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Details for Registration</title>
</head>
<body class="register-page">
    <div class="auth-container">
        <h2>Register</h2>
        <form id="registerForm" class="auth-form" enctype="multipart/form-data">
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="text" name="phone" placeholder="Phone">
            <input type="file" name="profile_picture" class="file-input">
            <button type="submit">Register</button>
              <span style="font-size:13px;margin-top:100px;">Already have account? <a href="{% url 'login' %}">Sign In</a></span> <br>
            <a href="{% url 'home_page' %}" style="font-size:13px;margin-top:100px;">Home</a>
        </form>
        <div id="message"></div>
    </div>
</body>
</html>

<script>
    document.getElementById("registerForm").addEventListener("submit", async function (e) {
        e.preventDefault();

        const formData = new FormData(document.getElementById("registerForm"));

        try {
            let response = await fetch("/accounts/register/", {
                method: "POST",
                body: formData
            });

            let result = await response.json();

            if (result.success) {
                document.getElementById("message").innerHTML = `<span style="color:green">${result.message}</span>`;
            } else {
                document.getElementById("message").innerHTML = `<span style="color:red">${result.error}</span>`;
            }
        } catch (err) {
            document.getElementById("message").innerHTML = `<span style="color:red">Request failed</span>`;
        }
    });
</script>